<div id="zoeken-menu">
    <span id="terug"><a href="/zoeken"><i class="fas fa-chevron-left"></i></a></span>
</div>

<h1>Er is al een account met dit mailadres</h1>

<a class="verButton" href="/inloggen">Naar inloggen</a>