<form method="POST" action="/comp">
  <input
    type="file"
    id="comp"
    accept=".jpg, .jpeg, .png"
    onchange="compress()"
  />

  <input type="hidden" value="" name="image" id="imgInput" />
  <input type="submit" value="submit" />
</form>

<img src="<%- data %>" />

<script src="js/compressor.js"></script>
