<div class="hometerug">
  <span id="terug"
    ><a href="/"><i class="fas fa-chevron-left"></i></a
  ></span>
</div>

<h1>Welkom terug</h1>

<form method="POST" action="/logout">
  <input class="uitloggen" value="Log out" type="submit" />
</form>
