<div id="zoeken-menu">
    <span id="terug"><a href="/zoeken"><i class="fas fa-chevron-left"></i></a></span>
</div>

<h1>Fout</h1>

<p class="verTekst">Je bent niet ingelogd met dit mailadres.</p>
<button class="verButton" onclick="window.location.href='/dashboard'">Naar dashboard</button>