<div id="zoeken-menu">
    <span id="terug"><a href="/zoeken"><i class="fas fa-chevron-left"></i></a></span>
</div>

<h1>Je profiel is verwijderd</h1>

<input type="submit" value="Naar zoeken" id="verwijderknop">
<p>of</p>
<input type="submit" value="Profiel aanmaken" id="verwijderknop">