<div id="zoeken-menu">
    <span id="terug"><a href="/zoeken"><i class="fas fa-chevron-left"></i></a></span>
</div>

<h1>Je profiel is verwijderd</h1>

<button class="verButton" onclick="window.location.href='/zoeken'">Naar zoeken</button>
<p class="verTekst">of</p>
<button class="verButton" onclick="window.location.href='/aanmelden'">Profiel aanmaken</button>