<div id="zoeken-menu">
    <span id="terug"><a href="/zoeken"><i class="fas fa-chevron-left"></i></a></span>
</div>

<h1>Wijzig je gegevens</h1>
  
<form
  method="POST"
  action="/wijzigen"
  id="gameform"
  enctype="multipart/form-data"
>
  <fieldset>
      <label for="wijzignaam">Naam</label>
      <input type="text" id="naam" name="wijzignaam" required />
  
      <label for="wijzigleeftijd">Leeftijd</label>
      <input type="number" id="leeftijd" name="wijzigleeftijd" required />

      <label for="wijzigemail">E-mail</label>
      <input type="email" id="email" name="wijzigemail" required />

      <label for="wijzigpassword">Wachtwoord</label>
      <input
        type="password"
        id="password"
        name="wijzigwachtwoord"
        required
      />
      <label for="wijzigtelefoon">Telefoonnummer</label>
      <input type="phone" id="telefoon" name="wijzigtelefoon" required />

      <label for="wijzigconsole">Console</label>
      <select name="wijzigconsole" id="console" required>
        <option value="pc">PC</option>
        <option value="ps4">PlayStation 4</option>
        <option value="ps5">PlayStation 5</option>
        <option value="xboxone">Xbox One</option>
        <option value="xboxseriesx">Xbox Series X</option>
      </select>
    </fieldset>

    <fieldset>
      <section>
        <label for="wijziggame1">Game 1</label>
        <select name="wijziggame1" id="game1" required>
          <option value="fifa">Fifa</option>
          <option value="cod">Call of Duty</option>
          <option value="fortnite">Fortnite</option>
          <option value="battlefield">Battlefield</option>
          <option value="gta">GTA</option>
          <option value="farcry">Farcry</option>
          <option value="rocketleague">Rocket League</option>
          <option value="minecraft">Minecraft</option>
          <option value="aoe">Age of Empires</option>
        </select>
      </section>

      <section>
        <label for="wijziggame2">Game 2</label>
        <select name="wijziggame2" id="game2" required>
          <option value="fifa">Fifa</option>
          <option value="cod">Call of Duty</option>
          <option value="fortnite">Fortnite</option>
          <option value="battlefield">Battlefield</option>
          <option value="gta">GTA</option>
          <option value="farcry">Farcry</option>
          <option value="rocketleague">Rocket League</option>
          <option value="minecraft">Minecraft</option>
          <option value="aoe">Age of Empires</option>
        </select>
      </section>
    </fieldset>

    <fieldset>
      <section>
        <label for="wijziggame3">Game 3</label>
        <select name="wijziggame3" id="game3" required>
          <option value="fifa">Fifa</option>
          <option value="cod">Call of Duty</option>
          <option value="fortnite">Fortnite</option>
          <option value="battlefield">Battlefield</option>
          <option value="gta">GTA</option>
          <option value="farcry">Farcry</option>
          <option value="rocketleague">Rocket League</option>
          <option value="minecraft">Minecraft</option>
          <option value="aoe">Age of Empires</option>
        </select>
      </section>

      <section>
        <label for="wijziggame4">Game 4</label>
        <select name="wijziggame4" id="game4" required>
          <option value="fifa">Fifa</option>
          <option value="cod">Call of Duty</option>
          <option value="fortnite">Fortnite</option>
          <option value="battlefield">Battlefield</option>
          <option value="gta">GTA</option>
          <option value="farcry">Farcry</option>
          <option value="rocketleague">Rocket League</option>
          <option value="minecraft">Minecraft</option>
          <option value="aoe">Age of Empires</option>
        </select>
      </section>
    </fieldset>


    <fieldset>
       <label for="wijzigbio">Bio</label>
      <textarea id="bio" name="wijzigbio" rows="1" maxlength="50" required></textarea>
      <input type="hidden" value="" name="img" id="imgOutput" />
      <label for="comp">Profielfoto</label>
      <input
        type="file"
        name="wijzigtelefoonimage"
        id="comp"
        accept=".jpg, .jpeg, .png"
        onchange="compress()"
        required
      />
    </fieldset>

  <input type="submit" value="Wijzigen" />
</form>

<script src="js/compressor.js"></script>





  