<div id="zoeken-menu">
    <span id="terug"><a href="/zoeken"><i class="fas fa-chevron-left"></i></a></span>
</div>

<h1>Je account is gewijzigd</h1>

<button class="verButton" onclick="window.location.href='/dashboard'">Naar dashboard</button>