* {
  margin: 0 auto;
  font-family: Roboto;
}

:root {
  --wit: #ffff;
  --zwart: #000;
  --grijs: #232323;
  --lichtgrijs: #d3d3d3;
  --geel: #fdae37;
  --groen: #95e8b1;
}

input,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a {
  color: var(--geel);
}

svg {
  transition: 0.3s;
}

svg:hover {
  font-size: 1.2em;
}

h1 {
  font-size: 1.8em;
  text-align: center;
  margin-bottom: 70px;
  margin-top: 50px;
  color: var(--wit);
}

h2 {
  font-size: 1.3em;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 10px;
  color: var(--wit);
}

body {
  background-color: #dcdcdc;
}

main {
  text-align: center;
  position: relative;
  height: 750px;
  margin-top: 30px;
  overflow: scroll;
}

main::-webkit-scrollbar,
.fortnite section {
  display: none;
}

main,
.fortnite section {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.wit {
  color: var(--wit);
}

/* APP MAX 600 PX, MOBIEL FORMAAT */
#app {
  max-width: 600px;
  margin: auto;
  background-color: var(--grijs);
}

header a {
  padding: 10px;
  font-size: 1.3em;
  color: var(--wit);
  text-decoration: none;
}

/* BEGIN HOME */
.home {
  display: grid;
  text-align: center;
  margin-top: 50px;
  position: relative;
}

.home img {
  width: 50%;
  height: auto;
  margin-top: 50px;
}

.home h1 {
  color: var(--geel);
  font-size: 1.2em;
  margin-top: 10px;
  margin-bottom: 80px;
}

#uitleglink {
  margin-bottom: 80px;
  font-size: 1.2em;
}

.home section {
  display: grid;
}

.home section a {
  background-color: var(--wit);
  color: var(--zwart);
  padding: 10px;
  padding-left: 30px;
  width: 280px;
  border-radius: 25px;
  font-size: 1em;
  letter-spacing: 2px;
  text-decoration: none;
  margin-bottom: 20px;
  text-align: initial;
}

.home p {
  width: 70%;
  color: var(--wit);
  font-size: 0.8em;
  margin-top: 100px;
}
/* EINDE HOME */

/* BEGIN HEADER */
header img {
  height: 40px;
  width: auto;
  padding: 3px;
  margin-top: 10px;
}
/* EINDE HEADER */

/* BEGIN FOOTER */
footer {
  display: flex;
  border-top: 1px solid var(--geel);
  padding: 10px;
  margin-top: 30px;
  height: 38px;
}

footer section {
  flex-basis: 25%;
  text-align: center;
  position: relative;
  color: var(--geel);
  font-size: 2em;
}

footer section a {
  font-size: 1em;
  color: var(--geel);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
}
/* EINDE FOOTER */

/* BEGIN REGISTREREN */
#gameform {
  width: 60%;
  display: block;
}

#gameform fieldset {
  border: none;
  width: 60%;
}

#gameform label {
  display: block;
  width: 40%;
  font-family: Ubuntu;
  color: var(--wit);
  font-weight: 100;
  margin-bottom: 2px;
}

#gameform input,
#gameform select,
#filteren select {
  width: 100%;
  padding: 8px 2px;
  border: 0px;
  margin-bottom: 60px;
  background-color: var(--grijs);
  border-bottom: 1px solid var(--geel);
  color: var(--wit);
}

#gameform textarea {
  width: 100%;
  background-color: var(--grijs);
  border: 0px;
  border-bottom: 1px solid var(--geel);
  color: var(--wit);
  margin-bottom: 100px;
}

#gameform div {
  display: flex;
  width: 100%;
}

#gameform div section {
  display: grid;
  width: 40%;
}

#filteren select {
  width: 50%;
}

#gameform fieldset:nth-child(3) select {
  width: 100%;
}

#console {
  margin-bottom: 75px !important;
  width: 100%;
}

#gameform input[type="submit"] {
  margin: auto;
  display: flex;
  padding: 10px 90px;
  border-radius: 25px;
  border: 0px;
  background-color: var(--geel);
  font-size: 1em;
  letter-spacing: 2px;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 80px;
  width: 60%;
  justify-content: center;
}

/* EINDE REGISTREREN */

/* BEGIN CARD */
.card {
  background-color: var(--wit);
  width: 90%;
  border-radius: 5px;
  margin-top: 30px;
  box-shadow: 5px 10px 18px #777;
  display: flex;
  text-align: center;
}

/* na de eerste .card komt een andere margin-top */
.card ~ .card {
  margin-top: 70px;
}

@media only screen and (max-width: 500px) {
  .card {
    max-height: 215px;
  }
}

.card h2 {
  color: var(--zwart);
}

.card div:first-child {
  margin: 0px;
  width: 35%;
}

.card:nth-child(even) div:first-child {
  background-color: #95e8b1;
}

.card:nth-child(odd) div:first-child {
  background-color: #c0c0c0;
}

.card div:first-child section:first-child span {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  color: var(--zwart);
  margin-top: 15px;
}

.card div:first-child section:first-child span h2 {
  margin: 0px;
  text-align: right;
}

.card div:first-child section:first-child span p {
  margin: 0px;
  text-align: left;
  margin-left: 5px;
}

.card div:first-child section:nth-child(3) p {
  padding: 0px 10px;
}

.card div:first-child img {
  width: 110px;
  height: 110px;
  border-radius: 100px;
  margin: 20px 0px;
  object-fit: cover;
}

.card div:last-child {
  background-color: var(--wit);
  margin: 0px;
  width: 65%;
}

.card div:last-child section:nth-child(2) span {
  display: inline-flex;
  margin-bottom: 50px;
}

.card div:last-child section:nth-child(2) span {
  font-size: 1.3em;
  color: #25d366;
}

.card div:last-child section:nth-child(2) span a {
  font-size: 0.8em;
  margin-top: 2px;
  margin-left: 5px;
  color: #25d366;
}

.card div:last-child section:last-child {
  margin-bottom: 15px;
}

.card div:last-child section:last-child img {
  width: 20%;
  height: auto;
  border-radius: 5px;
}

.card div:last-child section:first-child img {
  width: 200px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.card form {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 15px auto;
}

.card .favorietenButton {
  width: 100%;
  height: 100%;
  background-color: #232323;
  border: none;
  border-radius: 5px;
}

.card .favorietenButton + svg {
  color: var(--geel);
}

.card .favorietenButton:hover {
  cursor: pointer;
}

.card .favorietenButton:hover + svg {
  font-size: 35px;
}

.card form svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  pointer-events: none;
  transition: 0.3s;
}

.big {
  font-size: 1.3em;
  margin-bottom: 15px;
}

.empty {
  font-size: 12em;
  color: var(--geel);
  margin-top: 32px;
  margin-bottom: 32px;
}

.empty:hover {
  font-size: 12em;
}

@media only screen and (max-width: 500px) {
  .card div:first-child section:first-child span h2,
  .card div:first-child section:first-child span p {
    font-size: 0.8em;
  }

  .card div:first-child section:nth-child(3) p {
    font-size: 0.8em;
  }

  .card div:first-child img {
    width: 75px;
    height: 75px;
  }

  .card div:last-child section:first-child img {
    width: 100px;
    height: auto;
  }
}

/* EINDE CARD */

/* BEGIN ZOEKEN */
#zoeken-wrapper {
  position: absolute;
}

#zoeken-menu {
  color: var(--geel);
  font-size: 1.5em;
  cursor: pointer;
  height: 38px;
  width: 150px;
  position: fixed;
  margin-left: 430px;
  margin-top: -75px;
  display: flex;
}

#zoeken-menu span {
  position: relative;
  flex-basis: 33%;
}
/* EINDE ZOEKEN */

/* BEGIN FILTEREN */
#terug {
  margin-top: 20px;
  margin-right: 50px;
  display: block;
}

#filteren {
  display: none;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  background-color: var(--grijs);
  max-width: 600px;
  height: 100%;
}

#filteren span {
  position: absolute;
  right: 40px;
  top: 20px;
  font-size: 1.8em;
  color: var(--geel);
  cursor: pointer;
}

#filteren div {
  margin-top: 100px;
}

#filteren label {
  display: block;
  color: var(--wit);
  margin-top: 100px;
}

#verwijderknop {
  margin-bottom: 350px !important;
}
/* EINDE FILTEREN */

/* BEGIN NOTFOUND */
.notfound {
  margin-top: 150px;
  margin-bottom: 100px;
}

.notfound h1 {
  margin-bottom: 0px;
  font-size: 4em;
}

.notfound h2 {
  font-size: 2em;
  margin-bottom: 310px;
}
/* EINDE NOTFOUND */

/* BEGIN HOEWERKTHET */
.hoewerkhet p {
  margin: 0 auto;
}

.hoewerkhet h1 {
  margin: 0 auto;
  margin-bottom: 10px;
}

.hoewerkhet h2 {
  margin-top: 70px;
  margin-bottom: 10px;
  font-size: 1.1em;
}

.hoewerkhet a {
  display: block;
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 10px 50px;
  border-radius: 10px;
  background-color: var(--geel);
  color: var(--zwart);
  letter-spacing: 2px;
  text-decoration: none;
}

.hometerug {
  color: var(--geel);
  font-size: 1.5em;
  float: right;
  margin-top: -110px;
  margin-right: 10px;
  cursor: pointer;
}
/* EINDE HOEWERKTHET */

/* BEGIN VERWIJDERENBERICHT PAGINA */
.verButton {
  margin: auto;
  display: flex;
  padding: 10px 90px;
  border-radius: 25px;
  border: 0px;
  background-color: var(--geel);
  font-size: 1em;
  letter-spacing: 2px;
  cursor: pointer;
  margin-top: 30px;
}

.verTekst {
  color: white;
  text-align: center;
  margin: 50px;
}
/* EINDE VERWIJDERENBERICHT PAGINA */

/* FORTNITE API */
#fortniteknop {
  position: absolute;
  right: 5px;
  top: -150px;
}

#fortniteknop a img {
  border-radius: 50px;
}

#fortniteknop p {
  padding: 0px;
  margin: 0px;
  width: 100%;
  font-size: 0.8em;
}

.fortniteknop-dashboard {
  margin-top: 45px;
  left: 30px;
}

.fortniteknop-dashboard img {
  width: 50px;
  height: auto;
}

.fortnite section {
  display: grid;
  grid-template-columns: repeat(5000, calc(80% - 40px)) !important;
  grid-template-rows: minmax(150px, 1fr);
  overflow-y: scroll;
}

.fortnite ul {
  width: 60%;
  margin: 50px auto;
  padding: 10px 20px;
  list-style: none;
  border-radius: 5px;
  position: relative;
  height: 500px;
}

.fortnite ul li:last-child {
  position: absolute;
  bottom: 0px;
  width: 100%;
  left: 0px;
}

.fortnite ul:nth-child(even) {
  background-color: #95e8b1;
}

.fortnite ul:nth-child(odd) {
  background-color: #efefef;
}

.fortnite ul li img {
  width: 250px;
  height: auto;
  margin-bottom: 20px;
}

.fortnite ul li:nth-child(3) {
  font-weight: 900;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.fortnite ul li:nth-child(4) {
  margin-bottom: 10px;
}

.fortnite ul li:nth-child(1) {
  font-size: 1em;
  color: var(--grijs);
  margin-bottom: 20px;
}

.fortnite h1 {
  margin-bottom: 0px;
}

.fortnite p {
  color: var(--wit);
  padding: 50px;
}

.fortnite ul li a {
  background-color: var(--lichtgrijs);
  color: var(--grijs);
  padding: 10px;
  display: block;
  text-align: center;
  margin: 20px auto;
  border-radius: 20px;
  text-decoration: none;
  width: 70%;
}

.fortnite ul li:last-child a {
  background-color: var(--geel);
  color: var(--grijs);
}

/* BEGIN INLOGGEN */
#inlog-form {
  width: 40%;
}

#inlog-form fieldset {
  display: flex;
}

#inlog-form label {
  display: grid;
  width: 40%;
  font-family: Ubuntu;
  color: var(--wit);
  font-weight: 100;
  margin-bottom: 2px;
}

#inlog-form input {
  width: 100%;
  padding: 8px 2px;
  border: 0px;
  margin-bottom: 60px;
  background-color: var(--grijs);
  border-bottom: 1px solid var(--geel);
  color: var(--wit);
}

#inlog-form input[type="submit"] {
  margin: auto;
  display: flex;
  padding: 10px 90px;
  border-radius: 25px;
  border: 0px;
  background-color: var(--geel);
  font-size: 1em;
  letter-spacing: 2px;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 80px;
}

/* Uitloggen knop */
.uitloggen {
  margin: auto;
  display: flex;
  padding: 10px 90px;
  border-radius: 25px;
  border: 0px;
  background-color: transparent;
  border: 3px solid var(--geel);
  color: var(--geel);
  font-size: 1em;
  letter-spacing: 2px;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 80px;
}

.dashboard {
  color: #fff;
}

.btn-aanmelden {
  margin-top: 10px;
  display: inline-block;
  padding: 10px 90px;
  border-radius: 25px;
  background-color: transparent;
  color: var(--geel);
  font-size: 1em;
  letter-spacing: 2px;
  cursor: pointer;
  width: 130px;
  text-decoration: none;
}

.footer section a:first-of-type {
  display: none;
}
